<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SearchRepository.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8656B91D24F8A28900871F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8656B93124F8A28A00871F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8656B93C24F8A28A00871F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
